.app {
  text-align: center;
}

.app-header {
  margin-bottom: 80px;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
  display: inline;
  position: relative;
  top: 20px;
}

.app-title {
  display: inline;
  line-height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.catalog {
  float: left;
}

.shopping-cart {
  float: right;
}
